* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 16px;
  font-family: 'outfit';
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  height: 97vh;
}

#qr-code-div {
  display: block;
  height: auto;
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  
}   

img {
  width: 100%;
  border-radius: 10px;

}



h1 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 8px 20px;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 20px;
  color: hsl(228, 12%, 48%)
}

footer {
  height: 3vh;
}
